@import "variables.scss";
@import "mixins.scss";
@import "global.scss";
@import "navbar.scss";
@import "masthead.scss";
@import "post.scss";
@import "contact.scss";
@import "footer.scss";
@import "bootstrap-overrides.scss";

.hide-element {
    display: none;
}

.about-content {
	align-items: center;
	display: flex;
	justify-content: center;
}

.speech-bubble {
	background: #015171;
	color: #fff;
	border-radius: .4em;
	display: inline-block;
	margin-left: 30px;
	padding: 20px;
	position: relative;
	width: 350px;
}

.speech-bubble:after {
	content: '';
	position: absolute;
	left: 0;
	top: 50%;
	width: 0;
	height: 0;
	border: 20px solid transparent;
	border-right-color: #015171;
	border-left: 0;
	margin-top: -20px;
	margin-left: -20px;
}

.avatar {
	border-radius: 50%;
	height: 150px;
	width: 150px;
}
