@import "variables.scss";
@import "mixins.scss";
@import "global.scss";
@import "navbar.scss";
@import "masthead.scss";
@import "post.scss";
@import "contact.scss";
@import "footer.scss";
@import "bootstrap-overrides.scss";

.hide-element {
    display: none;
}

.about-content {
	align-items: center;
	display: flex;
	justify-content: center;
}

.speech-bubble {
	background: #015171;
	color: #fff;
	border-radius: .4em;
	display: inline-block;
	margin-left: 30px;
	padding: 20px;
	position: relative;
	width: 350px;
}

.speech-bubble:after {
	content: '';
	position: absolute;
	left: 0;
	top: 50%;
	width: 0;
	height: 0;
	border: 20px solid transparent;
	border-right-color: #015171;
	border-left: 0;
	margin-top: -20px;
	margin-left: -20px;
}

.avatar {
	border-radius: 50%;
	height: 150px;
	width: 150px;
}

#older_posts_display_btn {
	color: #fff;
}

.tags {
	a {
		display: inline-block;
		height:24px;
		line-height:23px;
		position:relative;
		margin: 0 12px 8px 0;
		padding: 0 12px 0 10px;
		background: #777;
		-moz-border-radius-bottomleft: 5px;
		-webkit-border-bottom-left-radius: 5px;
		border-bottom-left-radius: 5px;
		-moz-border-radius-topleft: 5px;
		-webkit-border-top-left-radius: 5px;
		border-top-left-radius: 5px;
		box-shadow: 0 1px 2px rgba(0,0,0,0.2);
		color: #fff;
		text-decoration: none;
		text-shadow: 0 1px 2px rgba(0,0,0,0.2);
		font-weight: bold;
	
		&:before {
			content: "";
			position: absolute;
			top: 10px;
			right: 1px;
			float: left;
			width: 5px;
			height: 5px;
			-moz-border-radius: 50%;
			-webkit-border-radius: 50%;
			border-radius: 50%;
			background: #fff;
			-moz-box-shadow: -1px -1px 2px rgba(0,0,0,0.4);
			-webkit-box-shadow: -1px -1px 2px rgba(0,0,0,0.4);
			box-shadow: -1px -1px 2px rgba(0,0,0,0.4);
		}

		&:after {
			content: "";
			position: absolute;
			top:0;
			right: -12px;
			width: 0;
			height: 0;
			border-color: transparent transparent transparent #777;
			border-style: solid;
			border-width: 12px 0 12px 12px;
		}
	}

	.tech-tag {
		background-color: #015171;
	}

	.non-tech-tag {
		background-color: #d5d5d5;
	}
}
