.main {
  text-align: center;
}

.title {
  margin-top: 35px;
}

#tags-list {
  display: flex;
  flex-wrap: wrap;
  margin: 30px auto;
}

.label {
  border-radius: 5px;
  color: white;
  height: 20px;
  margin-bottom: 15px;
  margin-right: 15px;
  padding: 6px 10px;
  text-decoration: none;
  width: 120px;
}

#DynamoDB {
  background-color: #2371ba;
}

#EC2 {
  background-color: #eba300;
}

#LoadBalancer {
  background-color: #ed7125;
}

#AutoScaling {
  background-color: #ce4e00;
}

#EBS {
  background-color: #d5524f;
}

#Route53 {
  background-color: #9d572c;
}

#Lambda {
  background-color: #ff6200;
}

#Amplify {
  background-color: #da5401;
}

#APIGateway {
  background-color: #df9800;
}

#Cognito {
  background-color: #683157;
}

#JWT {
  background-color: #16baac;
}

#CloudFront {
  background-color: #d5523c;
}

#VPC {
  background-color: #eba300;
}

#S3 {
  background-color: #007deb;
}

#Aurora {
  background-color: #e8b339;
}
