.main {
  text-align: center;
}

.title {
  margin-top: 35px;
}

#tags-list {
  margin: 30px auto;
  width: 405px;
}

.label {
  border-radius: 5px;
  color: white;
  height: 20px;
  margin-right: 15px;
  padding: 6px 10px;
  text-decoration: none;
  width: 120px;
}

#DynamoDB {
  background-color: #2371ba;
}
